<div class="progress">
  <div class="progress-bar bg-success  progress-bar-striped " role="progressbar" style= "width: <%= @stat.percent %>%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"> <%= @stat.pair.first %> & <%= @stat.pair.second %></div>
</div>
